USE [TEMPLE_CWCS]
GO
/****** Object:  Table [dbo].[FAHUI_LIST]    Script Date: 06/03/2013 14:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAHUI_LIST](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FAHUI_YEAR] [int] NULL,
	[FAHUI_NAME] [nvarchar](255) COLLATE Chinese_PRC_CI_AS NULL,
 CONSTRAINT [PK_FAHUI_LIST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
