USE [TEMPLE_CWCS]
GO
/****** Object:  Table [dbo].[FAHUI_YAN]    Script Date: 06/03/2013 14:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAHUI_YAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ZHUZHAO1] [nvarchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[ZHUZHAO2] [nvarchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[ZHUZHAO3] [nvarchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[ZHUZHAO4] [nvarchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[ZUOCI] [int] NULL,
	[ZIHAO] [nvarchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[HAS_PRINT] [bit] NULL,
	[FAHUI_ID] [int] NULL,
 CONSTRAINT [PK_FAHUI_YAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
