USE [TEMPLE_CWCS]
GO
/****** Object:  Table [dbo].[FILE_MGR]    Script Date: 05/29/2013 12:49:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILE_MGR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ORIGIN_FILENAME] [nvarchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[FILE_DATA] [image] NULL,
	[UPLOAD_TIME] [datetime] NULL,
	[DOWNLOAD_CNT] [int] NULL,
	[UPLOAD_USER_ID] [int] NULL,
 CONSTRAINT [PK_FILE_MGR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
